* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "microsoft YaHei";
}

html body{
	width: 100%;
	height: 100%; 
}

.container{
	width: 1280px;
	margin: 0 auto;
}

/*header*/
header{
	width: 1280px;
	height: 56px;
	padding-left: 55px;
}

.logo{
	float: left;
}

.logo > span{
	font-size: 21px;
	font-family: "黑体";
	line-height: 56px;
}

nav{
	float:right;
	height: 56px;
}

nav li{
	list-style: none;
	float:left;
	width: 80px;
	height: 56px;
	margin-left: 10px;
	text-align: center;
}

nav li a{
	line-height: 50px;
	padding-bottom: 10px;
	color: #000000;
	font-size: 14px;
	text-decoration: none;
}

.item:hover{
	border-bottom: solid 5px #e74f4d;
}

nav .active{
	border-bottom: solid 5px #e74f4d;
}

.loginBtn{
	color: #e74f4d;
}

.loginBtn img{
	margin-right: 5px
}

/*part1*/
.part1{
	width: 100%;
	height: 685px;
	background: url('./images/part1.png');
	position: relative;
}

.covered1{
	position: absolute;
	width: 1280px;
	height: 685px;
	top: 0;
	left: 0;
	background-color: #cdcccc;
	opacity: 0.2;
}

.part1 h1{
	position: absolute;
	top:30%;
	left: 10%;
	font-size: 60px;
	color: #ffffff;
}

.part1 p{
	position: absolute;
	top: 40%;
	left: 10%;
	font-size: 21px;
	color: #ffffff;
}

.part1 button{
	position: absolute;
	top: 55%;
	left: 10%;
	width: 330px;
	height: 65px;
	border: none;
	color: #ffffff;
	font-size: 30px;
	background-color: #e74f4d;
}

.part2{
	height: 250px;
	overflow: hidden;
}

.part2 .wrap{
	float: left;
	padding-top: 50px;
	padding-bottom: 65px;
	width: 320px;
	text-align: center;
	color: #767777;
}

.part2 p{
	border-right: solid 1px  #767777;
}

.part2 .four{
	border-right: none;
}

.part3{
	height: 360px;
	padding-top: 80px;
	background-color: #edecec;
	text-align: center;
	vertical-align:middle;
}

.part3 p{
	margin-top: 15px;
	font-size: 54px;
	color: #a1a1a1;
}

.part4{
	height: 340px;
	background: url('./images/part4_bg.png');
	text-align: center;
	padding-top: 50px;
	position: relative;
}

.part4 h1{
	color: #ffffff;
	font-size: 21px;
}

.part4 h1:after{
	content: "";
	width: 30px;
	height: 3px;
	background-color: #ffffff;
	display: block;
	margin: 5px auto;
}

.part4 p{
	margin-top: 20px; 
	font-size: 12px;
	color: #ffffff;
}

.part4 select{
	width: 235px;
	height: 35px;
	margin-top: 30px;
	padding-right: 20px;
	margin-right: 30px;
	color:#a8aaaa;
	font-size: 12px;
	appearance:none;
  	-moz-appearance:none;
  	-webkit-appearance:none;

  	background: url("./images/part4_1.png") no-repeat scroll right center #ffffff;
  	background-position: 210px;
	outline-color: #e74f4d;
}

.part4 select option{

}

.part4 select option:hover{
	background: #e74f4d;
}

.part4 .search{
	width: 235px;
	height: 35px;
	margin-top: 30px;
	border: none;
	color: #ffffff;
	font-size: 14px;
	background-color: #e74f4d;
}

.part5{
	height:605px;
	padding: 100px 90px 115px 150px;
	background: #f7f7f7;
	text-align: center;
}

.part5 figure{
	float: left;
	margin-right: 40px;
}

.part5 figure img{
	width:220px;
	height: 335px;
	padding: 15px 10px;
	background: #ffffff;
}

.part5 .shanghai{
	font-size: 20px;
	letter-spacing: 1.4em;
}


.part5 h2{
	font-size: 16px;
	font-weight: normal;
	padding-bottom: 8px;
}

.part5 p{
	color: #767777;
	font-size: 12px;
	padding-bottom: 5px;
}

.part6{
	height: 570px;
}

.part6:after{
	content: "";
	clear: both;
	display: block;
}

.lpart6{
	float: left;
	width: 850px;
	height: 570px;
	background: url('./images/part6.png');
	text-align: center;
	color: #ffffff;
	position: relative;
}

.lpart6 h1{
	margin-top: 130px;
	font-size: 50px;
	font-weight: normal;
}

.lpart6 h2{
	font-size: 140px;
	font-weight: normal;
	text-transform: uppercase;
}

.lpart6 span{
	font-size: 22px;
	font-weight: normal;
	display: block;
}

.lpart6 time{
	margin-top: 15px;
	font-size: 22px;
	display: block;
}

.lpart6 .tri{
	width: 24px;
    height: 29px;
    background: url('./images/part6_1.png') no-repeat;
    display: block;
    position: absolute;
    right: 0;
    top: 268px;
    overflow: hidden;
}

.rpart6{
	width: 430px;
	float: left;
	padding: 165px 70px 0 70px;
	text-align: center;
}

.rpart6 h1{
	font-size: 22px;
	font-weight: normal;
}

.rpart6 h1 span{
	color: #e7504d;
}

.rpart6 p{
	padding-top: 30px;
	color: #aaaaaa;
	font-size: 12px;
	line-height: 35px;
}

.rpart6 button{
	margin-top: 45px;
	width: 105px;
	border: solid 1px #e74f4d;
	background-color: #ffffff;
	color: #e74f4d;
	font-size: 12px;
	line-height: 35px;
}

.dot{
	height: 12px;
    width: 12px;
    border-radius: 100%;
    display: inline-block;
    border: 1px solid #929292;
    margin: 35px 7px;
}

.selected{
	background: #929292;
}

.part7{
	height: 520px;
	
}

.part7:after{
	content: "";
	clear: both;
	display: block;
}

.part7_1{
	width: 425px;
	height: 520px;
	float: left;
	padding-top: 175px;
	background: #e74f4d;
	color: #ffffff;
	text-align: center;
}

.part7_1 p{
	font-size: 21px;
	font-weight: normal;
	line-height: 30px;
	margin-bottom: 50px;
}

.part7_1 p:after{
	content: "";
	display: inline-block;
    height: 2px;
    width: 30px;
    background: #ffffff;
}

.part7_1 button{
	width: 170px;
	height: 40px;
	border: solid 1px #ffffff;
	background-color: #e74f4d;
	color: #ffffff;
	font-size: 21px;
	line-height: 24px;
}

.part7_2{
	width: 425px;
	height: 520px;
	float: left;
	padding-top: 175px;
	text-align: center;
}

.part7_2 p{
	font-size: 21px;
	font-weight: normal;
	line-height: 30px;
	margin-bottom: 50px;
}

.part7_2 p:after{
	content: "";
	display: inline-block;
    height: 2px;
    width: 30px;
    background: #ababab;
}

.part7_2 button{
	width: 170px;
	height: 40px;
	border: solid 1px #e74f4d;
	background-color: #ffffff;
	color: #e74f4d;
	font-size: 21px;
	line-height: 24px;
}

.part7_3{
	width: 425px;
	height: 520px;
	float: left;
	background: url('./images/part7.png');
	position: relative;

}

.part7_3 .tri{
	width: 24px;
    height: 29px;
    background: url('./images/part7_1.png') no-repeat;
    display: block;
    position: absolute;
    left: 0;
    top: 260px;
    overflow: hidden;
}

.part8{
	height: 750px;
	text-align: center;
}

.part8 h1{
	padding-top: 120px;
	font-size: 21px;
	font-weight: normal;
}

.part8 h1:after{
	content: "";
	display: inline-block;
    height: 2px;
    width: 30px;
    background: #e74f4d;
}

.part8 h2{
	font-size: 12px;
	color: #aaaaaa;
	font-weight: normal;
	margin-bottom: 100px;
}

.lpart8{
	float: left;
	width: 290px;
	height: 280px;
	margin-left: 135px; 
	text-align: left;
}

.lpart8 .wpart8{
	margin-bottom: 30px;
}

.wpart8 h3{
	font-size: 14px;
	font-weight: normal;
	margin-bottom: 20px;
}

.wpart8 p{
	font-size: 12px;
	color: #aaaaaa;
}

.wpart8 .more{
	font-size: 10px;
	color: #aaaaaa;
	float: right;
}

.wpart8 .more:before{
	content: url('./images/part8_1.png');
    vertical-align: middle;
    display: inline-block;
    margin-left: -15px;
    margin-right: 5px;
}

.rpart8{
	float: left;
	width: 640px;
	margin-left: 80px;
}

.rpart8 input{
	width: 310px;
	height: 40px;
	float: left;
	margin-bottom: 20px;
	margin-right: 10px;
	padding-left: 15px;
	background: #ececee;
	border: none;
	color: #000000;
	font-size: 12px;
}

.rpart8 textarea{
	width: 100%;
	height: 110px;
	float: left;
	background: #ececee;
	padding-left: 15px;
	margin-bottom: 20px;
	border: none;
	color: #000000;
	font-size: 12px;
	line-height: 30px;
}

.rpart8 button{
	width: 100%;
	height: 40px;
	border: none;
	font-size: 14px;
	font-family: "黑体";
	background: #ececee;
}

.part9{
	height: 360px;
	background: #32353e;
	color: #ffffff;
	text-align: center;
}

.part9 h1{
	padding-top: 90px;
	font-size: 21px;
	line-height: 25px;
	letter-spacing: 0.2em;
	font-family: "黑体";
	font-weight: normal;
	padding-bottom: 10px;
}

.part9 h2{
	font-size: 12px;
	font-family: "宋体";
	font-weight: normal;
	line-height: 20px;
	margin-bottom: 30px;
}

.part9 .contact{
	width: 510px;
	height: 40px;
	margin: 0 auto;
}

.contact input{
	margin: 0;
	height: 100%;
	width: 80%;
	float: left;
	border: none;
}

.contact button{
	height: 100%;
	width: 19%;
	float: left;
	color: #ffffff;
	font-size: 15px;
	border:none;
	background: #707278;
}

.part9 .icon{
	margin-top: 40px;
}

.icon img{
	margin-right: 25px;
}

footer{
	height: 55px;
	background: #2f2f38;
	color: #ffffff;
	font-size: 12px;
	line-height: 55px;
	padding: 0 20px;
}

footer p{
	float: left;
}

footer a{
	float: right;
}














