* {
	box-sizing: border-box;
}
p, #container, #btnGroup{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    margin: 5px;
    padding: 5px;
}
#container {
    height: 200px;
}

.box {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    border: 1px solid #000000;
    margin: 5px;
    padding: 5px;
    width: 80%;
    height: 80%;
}

.shadow {
    border: 1px solid #414FFF;
    box-shadow: 0 0 10px 1px rgba(65, 79, 255, 0.4);
}
