body, 
ul, 
ol{
	margin: 0;
  	padding: 0;
}

body{
  	font: 14px "Microsoft Yahei";
}

ul, 
ol{
  	list-style: none;
}

a{
  	text-decoration: none;
}

table{
	width: 400px;
}

col:first-child{
	width: 15%;
}

col:nth-child(2){
	width: 60%;
}

col:last-child{
	width: 25%;
}

thead tr{
	background: #000;
	color: #fff;
}

tbody tr:nth-child(even){
	background: #ccc;
}

tbody tr:nth-child(1){
	color: red;
}

tbody tr:nth-child(2){
	color: red;
}

tbody tr:nth-child(3){
	color: red;
}

input{
	margin-top: 30px;
	width: 150px;
	-moz-transition: width 500ms;
	/* Firefox 4 */
	-webkit-transition: width 500ms;
	/* Safari and Chrome */
	-o-transition: width 500ms;
	/* Opera */
	transition: width 500ms;
}

input:focus{
	width:250px;
}

.wrap {
	margin-top: 30px;
	border: 1px solid #9cc5ef;
	width: 300px;
	height: 200px;
	position: relative;
	overflow: hidden;
}

.slider {
	width: 300%;
	font: bold 100px/200px "Microsoft Yahei";
	color: #fff;
}
.slider li {
	width: 300px;
	height: 100%;
	float: left;
	text-align: center;
	position: absolute;
}
.slider li:nth-child(1) {
	background-color: #6bacef;
}
.slider li:nth-child(2) {
  	background-color: #297cd3;
}
.slider li:nth-child(3) {
  	background-color: #01254a;
}

.slider li:target {
	z-index: 2;
	animation: scroll 500ms linear;
}

.banner-controll {
  	bottom: 0;
  	right: 0;
  	z-index: 10;
  	position: absolute;
  	overflow: hidden;
}
.banner-controll a {
	margin-left: 2px;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	opacity: 0.5;
	filter: alpha(opacity=50);
	background-color: #fff;
	color: #000;
	display: inline-block;
}