* {
	box-sizing: border-box;
}
p, #container, #btnGroup{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    margin: 5px;
    padding: 5px;
}
#container {
    height: 200px;
}

.box {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    border: 1px solid #000000;
    margin: 5px;
    padding: 5px;
    width: 80%;
    height: 80%;
}
